.box {
  border: 5px solid black;
  text-align: center;
  padding: 10px 30px;
}

.item-img {
  width: 400px;
  height: 300px;
}

.main {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 30px;
}

.item-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 2.5rem;
}

.win {
  border: 5px solid green;
  color: green;
}
.lose {
  border: 5px solid red;
  color: red;
}
.tie {
  border: 5px solid black;
  color: black;
}
